@model IEnumerable<Garage2._0.Models.Vehicle>

@{
    ViewBag.Title = "DetailsList";
}

<h2>Detaljlista över parkerade fordon</h2>

<p>
    @Html.ActionLink("Parkera fordon", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("TypeName", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WheelCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkingLot)
        </th>
        <th>
            @Html.ActionLink("ParkTime", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Medlem", "Index", new { sortOrder = ViewBag.MemberSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WheelCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingLot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.FirstName) @Html.DisplayFor(modelItem => item.Member.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VehicleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VehicleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VehicleId })
        </td>
    </tr>
}

</table>
